<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>collage-photos</title>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
    integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"
    integrity="sha512-Zq9o+E00xhhR/7vJ49mxFNJ0KQw1E1TMWkPTxrWcnpfEFDEXgUiwJHIKit93EW/XxE31HSI5GEOW06G6BF1AtA=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css"
    integrity="sha512-O03ntXoVqaGUTAeAmvQ2YSzkCvclZEcPQu1eqloPaHfJ5RuNGiS4l+3duaidD801P50J28EHyonCV06CUlTSag=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.6.172/build/pdf.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.6.172/web/pdf_viewer.min.css">

  <style>
    .wrapper {
      display: flex;
      align-items: start;
      justify-content: center;
      margin: 0;
      padding: 0;
    }

    #documentDropZone,
    #pdf-render-canvas {
      max-width: 100%;
    }

    .draggable {
      height: 200px;
      width: 350px;
      position: absolute;
    }

    .draggable:nth-child(2) {
      top: 210px;
    }
  </style>

</head>

<body>
  <div class="wrapper row">
    <div class="col-4">
      <div class="d-flex justify-content-end">
        <button id="downloadButton" class="btn btn-secondary">
          上傳
        </button>
        <div class="pdf-control-btn ms-2">
          <button id="pdf-prev" class="btn btn-secondary">
            &larr;
          </button>
          <button id="pdf-next" class="btn btn-secondary">
            &rarr;
          </button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <img id="documentDropZone">
      <canvas id="pdf-render-canvas"></canvas>
    </div>
    <div class="col-4 position-relative">
      <img id="frontDropZone" class="draggable" />
      <img id="backDropZone" class="draggable" />
    </div>
  </div>
  <script src="{{ url_for('static',filename='pdf-util.js') }}"></script>

  <script>

    const frontURL = "{{ data.front }}".replaceAll("&amp;", "&")
    const backURL = "{{ data.back }}".replaceAll("&amp;", "&")
    const documentURL = "{{ data.document }}".replaceAll("&amp;", "&")

    const frontDropZone = document.getElementById('frontDropZone')
    const backDropZone = document.getElementById('backDropZone')
    const documentDropZone = document.getElementById('documentDropZone')
    const pdfRenderCanvas = document.getElementById('pdf-render-canvas')

    frontDropZone.setAttribute("src", frontURL)
    backDropZone.setAttribute("src", backURL)

    if (documentURL.includes('.pdf')) {
      documentDropZone.style.display = 'none'
      pdfRenderCanvas.style.display = 'block'
      initPdf(documentURL)
    } else {
      pdfRenderCanvas.style.display = 'none'
      document.getElementById("pdf-prev").style.display = 'none'
      document.getElementById("pdf-next").style.display = 'none'
      documentDropZone.setAttribute("src", documentURL)
    }
  </script>

  <script>

    window.onload = function () {
      makeElementDraggable('.draggable')
    }

    function makeElementDraggable(selector) {
      interact(selector)
        .draggable({
          onmove: window.dragMoveListener
        })
        .resizable({
          preserveAspectRatio: false,
          edges: { left: true, right: true, bottom: true, top: true },
          listeners: {
            move: function (event) {
              const target = event.target
              let { x, y } = target.dataset

              x = (parseFloat(x) || 0) + event.deltaRect.left
              y = (parseFloat(y) || 0) + event.deltaRect.top

              Object.assign(target.style, {
                width: `${event.rect.width}px`,
                height: `${event.rect.height}px`,
                transform: `translate(${x}px, ${y}px)`
              })


              target.setAttribute('data-x2', (parseFloat(target.getAttribute('data-x1')) || 0) + event.rect.width);
              target.setAttribute('data-y2', (parseFloat(target.getAttribute('data-y1')) || 0) + event.rect.height);
            }
          }

        })
        .on('resizemove', function (event) {
          var target = event.target,
            x = (parseFloat(target.getAttribute('data-x1')) || 0),
            y = (parseFloat(target.getAttribute('data-y1')) || 0);

          target.style.width = event.rect.width + 'px';
          target.style.height = event.rect.height + 'px';

          x += event.deltaRect.left;
          y += event.deltaRect.top;

          target.style.webkitTransform = target.style.transform =
            'translate(' + x + 'px,' + y + 'px)';

          target.setAttribute('data-x1', x);
          target.setAttribute('data-y1', y);
          target.setAttribute('data-x2', (parseFloat(target.getAttribute('data-x1')) || 0) + event.rect.width);
          target.setAttribute('data-y2', (parseFloat(target.getAttribute('data-y1')) || 0) + event.rect.height);
        });
    }

    function dragMoveListener(event) {
      var target = event.target,
        x = (parseFloat(target.getAttribute('data-x1')) || 0) + event.dx,
        y = (parseFloat(target.getAttribute('data-y1')) || 0) + event.dy;

      target.style.webkitTransform = target.style.transform = 'translate(' + x + 'px, ' + y + 'px)';

      target.setAttribute('data-x1', x);
      target.setAttribute('data-y1', y);
      target.setAttribute('data-x2', (parseFloat(target.getAttribute('data-x1')) || 0) + event.rect.width);
      target.setAttribute('data-y2', (parseFloat(target.getAttribute('data-y1')) || 0) + event.rect.height);

    }

  </script>

  <script>
    document.querySelector('#downloadButton').addEventListener('click', async () => {

      iziToast.success({
        title: '送出成功',
        message: '請稍等片刻，系統正在處理中',
        position: 'topLeft'
      });

      const frontDropZone = document.getElementById('frontDropZone')
      const backDropZone = document.getElementById('backDropZone')
      const documentDropZone = document.getElementById('documentDropZone')
      const pdfRenderCanvas = document.getElementById('pdf-render-canvas')

      const documentZone = documentURL.includes('.pdf') ? pdfRenderCanvas : documentDropZone

      const payload = {
        document_type: documentURL.includes('.pdf') ? "pdf" : "image",
        page: documentURL.includes('.pdf') ? currentPageNo : null,
        size: {
          front: [frontDropZone.width, frontDropZone.height],
          back: [backDropZone.width, backDropZone.height],
          document: [
            documentZone.offsetWidth,
            documentZone.offsetHeight
          ],
        },
        position: {
          front: [
            parseFloat(frontDropZone.getAttribute('data-x1')) + documentZone.offsetWidth + convertRemToPixels(1.5),
            parseFloat(frontDropZone.getAttribute('data-y1'))
          ],
          back: [
            parseFloat(backDropZone.getAttribute('data-x1')) + documentZone.offsetWidth + convertRemToPixels(1.5),
            parseFloat(backDropZone.getAttribute('data-y1')) + 210
          ],
        },
        source: {
          front: frontURL,
          back: backURL,
          document: documentURL,
        }
      }
      const res = await axios.post("./composite", payload, { responseType: 'blob' })
      const fileName = decodeURI(res.headers["content-disposition"].split(" ")[1].replace("filename*=UTF-8''", "")).replaceAll("filename=", "");
      const url = window.URL.createObjectURL(new Blob([res.data]));
      const a = document.createElement('a');
      a.href = url;
      a.download = fileName;
      document.body.appendChild(a);
      a.click();
      window.URL.revokeObjectURL(url);

    })

    function convertRemToPixels(rem) {
      return rem * parseFloat(getComputedStyle(document.documentElement).fontSize);
    }


  </script>
</body>

</html>